 /*Inizio grafica top articolo*/
header{
    background-image: url(./img/pattern.png);
    background-color: #4EA0FF ;
}

#logo{
    width: 200px;
    height: 100px;
}
 /*Fine grafica top articolo*/

 /*Inizio titolo articolo*/
 #titolo_articolo{
    margin-bottom: 0px;
}

 #link{
    color: #20A9E5;
    font-size: 10px;
    margin: 0px;
}

.autore{
    color: #808080;
    font-size: 10px;
    margin: 0px;
}
 /*Fine titlo articolo*/

/*Inizio descrizione foto*/
.descrizione_foto{
font-size: 13px;
margin: 0px;
}
/*Fine descrizione foto*/

/*Inizio testo ed elenco articolo*/
p, li {
    font-size: 18px;
}
/*Fine testo ed elenco articolo*/

/*Inizio formattazione tabella articolo*/
#titolo_tabella{
    color: white;
    background-color: #4EA0FF;
}

.riga_azzurra_tabella{
    background-color: azure;
}

td{
    width: 2000px;
}
/*Fine formattazione tabella articolo*/

/*Inizio consigli*/
#consigli {
    color: grey;
}
/*Fine consigli*/

 